{% extends "auth_base.html" %}

{% load static %}

{% block title %}Redefinir Senha - Smart Watering{% endblock %}

{% block content %}
    <h4 class="mt-0">Redefinir a senha</h4>
    <p class="text-muted">Informe seu usuário e enviaremos um e-mail com as intruções para redefinir sua senha.</p>

    <form action="{% url 'recover-password' %}" method="POST" class="needs-validation mt-3" autocomplete="off" novalidate="">
        {% csrf_token %}

        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible border-0 fade show mb-3" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        {{ message }}
                    </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div class="alert alert-warning alert-dismissible border-0 fade show mb-3" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        {{ message }}
                    </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success alert-dismissible border-0 fade show mb-3" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <div class="mb-3">
            <label for="username" class="form-label">Usuário</label>
            <input class="form-control" type="text" id="username" name="username" placeholder="Digite seu usuário" required="" />
            <div class="valid-feedback">
                Perfeito!
            </div>
            <div class="invalid-feedback">
                Informe um usuário válido!
            </div>
        </div>
        <div class="mb-0 text-center d-grid">
            <button class="btn btn-primary" type="submit"><i class="mdi mdi-lock-reset me-1"></i>Redefinir</button>
        </div>
    </form>

    <footer class="footer footer-alt">
        <p class="text-muted">
            Voltar para o <a href="{% url 'login' %}" class="text-muted"><b>Login</b></a>
        </p>
    </footer>
{% endblock %}

{% block js %}{% endblock %}