{% extends "auth_base.html" %}

{% load static %}

{% block title %}Redefinir Senha - Smart Watering{% endblock %}

{% block content %}
    <h4 class="mt-0">Redefinir a senha</h4>
    <p class="text-muted">Informe sua nova senha e confirme abaixo.</p>

    <form action="{% url 'reset-password' token %}" method="POST" id="reset-password" class="needs-validation mt-3" autocomplete="off" novalidate="">
        {% csrf_token %}

        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <div class="alert alert-danger alert-dismissible border-0 fade show mb-3" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        {{ message }}
                    </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                    <div class="alert alert-warning alert-dismissible border-0 fade show mb-3" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        {{ message }}
                    </div>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <div class="alert alert-success alert-dismissible border-0 fade show mb-3" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <div class="mb-3">
            <label for="new-password" class="form-label">Nova senha</label>
            <div class="input-group input-group-merge">
                <input type="password" id="new-password" name="new-password" class="form-control" placeholder="Digite sua nova senha" required="" />
                <div class="input-group-text" data-password="false">
                    <span class="password-eye"></span>
                </div>
                <div class="valid-feedback">
                    Perfeito!
                </div>
                <div id="new-password-invalid" class="invalid-feedback">
                    Informe uma senha válida!
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="new-password" class="form-label">Confirme a senha</label>
            <div class="input-group input-group-merge">
                <input type="password" id="confirm-password" name="confirm-password" class="form-control" placeholder="Confirme sua nova senha" required="" />
                <div class="input-group-text" data-password="false">
                    <span class="password-eye"></span>
                </div>
                <div class="valid-feedback">
                    Perfeito!
                </div>
                <div id="invalid-confirmation-password" class="invalid-feedback">
                    Informe uma senha válida!
                </div>
            </div>
        </div>

        <div class="mb-0 text-center d-grid">
            <button class="btn btn-primary" type="submit" id="reset-password-button"><i class="mdi mdi-lock-reset me-1"></i>Redefinir</button>
        </div>
    </form>

    <footer class="footer footer-alt">
        <p class="text-muted">
            Voltar para o <a href="{% url 'login' %}" class="text-muted"><b>Login</b></a>
        </p>
    </footer>
{% endblock %}

{% block js %}
    <script src="{% static 'js/pages/demo.validate-password.js' %}"></script>
{% endblock %}